<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>NEXT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="plugins/semantic/semantic.min.css" rel="stylesheet" type="text/css" />
<link href="plugins/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css"/>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="plugins/vuejs/vue.min.js"></script>
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/semantic/semantic.min.js"></script>
<script src="plugins/axios/axios.min.js"></script>
<script src="plugins/moment/moment-with-locales.js"></script>
<script src="plugins/feathericons/feather.min.js"></script>
<script src="plugins/sweetalert2/sweetalert2.all.min.js"></script>
<script src="plugins/sb/sb.js"></script>
<style>
.top
{
	margin-bottom:50px;
}

.svg-icon {
    height: 5em;
    margin-top: -4px;
    pointer-events: none;
    vertical-align: middle;
    width: 5em;
}

.logo-icon {
    height: 3em;
    margin-top: 4px;
    pointer-events: none;
    vertical-align: middle;
    width: 3em;
	color:#6435c9;
	display:inline-block;
	float: left;
}

.logo-text {
	display:inline-block;
	font-size:18pt;
    vertical-align: middle;
	margin-top:20px;
}

.item-icon {
    height: 3em;
    margin-top: 15px;
	margin-left: 15px;
    pointer-events: none;
    vertical-align: middle;
    width: 3em;
	color:#ffffff;
}

.circle
{
	border-radius: 50%;
    width: 5em;
    height: 5em;
	background:#6435c9;
	display:inline-block;
}

.svg-icon-small {
    height: 2em;
    margin-top: -4px;
    pointer-events: none;
    vertical-align: middle;
    width: 2em;
}

.svg-icon-tiny {
    height: 1em;
    pointer-events: none;
    vertical-align: middle;
    width: 1em;
    margin-top: -4px;    
}

.item
{
	margin-top:15px;
	vertical-align:center;
}
.item-desc
{
	margin-left:15px;
	font-size:12pt;
}
</style>
</head>
<body>
<div id="app">
	<br/>
	<div class="ui container" v-show="walletExist && walletUnlocked">
		<div class="ui grid">
			<div class="twelve wide column">
				<h4>
					<span class="ui label "><i data-feather="feather" class="text-violet"></i></span>
					&nbsp;NEXT Lite
				</h4>
			</div>
			<div class="four wide column">
				<div class="right floated" style="text-align:right">
					<button type="button" class="ui button gray tiny" title="Refresh" v-on:click="refresh()"><i data-feather="refresh-cw" class="svg-icon-tiny"></i></button>
					<button type="button" class="ui button gray tiny" title="Lock Wallet" v-on:click="lockWallet()"><i data-feather="lock" class="svg-icon-tiny"></i></button>&nbsp;Build 0.0.1
				</div>
			</div>
		</div>
  
		<div class="ui top attached tabular menu">
			<a class="item active" data-tab="first">Balance</a>
			<a class="item" data-tab="second">Receive</a>
			<a class="item" data-tab="third">Send</a>
			<a class="item" data-tab="four">Sign Message</a>
			<a class="item" data-tab="five">Verify Message</a>
			<a class="item" data-tab="six">Tools</a>
		</div>
		
		<div class="ui bottom attached tab segment active" data-tab="first">
			<h1>{{formatBalance(balance.balance)}} {{unit}}</h1>
			<h5>Height {{height}}</h5>
		</div>
		
		<div class="ui bottom attached tab segment" data-tab="second">
			<h3>Receive</h3>
			<p v-if="addressList">{{addressList}}</p>
		</div>
		<div class="ui bottom attached tab segment" data-tab="third">
			<h3>Send</h3>
			<form class="ui form">
				  <div class="field">
					<label>Address</label>
					<input type="text" name="send_address" placeholder="Address" v-model="send_address">
				  </div>
				  <div class="field">
					<label>Amount</label>
					<input type="text" name="send_amount" placeholder="Amount" v-model="send_amount">
				  </div>
				  <a class="ui button" v-on:click="send()">Send</a>
				  <p>{{result_send}}</p>
			</form>
			<div class="ui accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					UTXOs
				</div>
				<div class="content">
					<pre>{{utxo}}</pre>
				</div>
			</div>
		</div>
		
		<div class="ui bottom attached tab segment" data-tab="four">
			<h3>Sign Message</h3>
			<form class="ui form">
				  <div class="field">
					<label>Message</label>
					<input type="text" name="message" placeholder="Message" v-model="message">
				  </div>
				  <div class="field">
					<label>Private Key</label>
					<input type="text" name="privateKey" placeholder="Private Key" v-model="privateKey">
				  </div>
				  <a class="ui button" v-on:click="sign()">Sign</a>
				  <p>{{result_signature}}</p>
			</form>
		</div>
		
		<div class="ui bottom attached tab segment" data-tab="five">
			<h3>Verify Message</h3>
			<form class="ui form">
				  <div class="field">
					<label>Message</label>
					<input type="text" name="verify_message" placeholder="Message" v-model="verify_message">
				  </div>
				  <div class="field">
					<label>Address</label>
					<input type="text" name="verify_address" placeholder="Address" v-model="verify_address">
				  </div>
				  <div class="field">
					<label>Signature</label>
					<input type="text" name="verify_signature" placeholder="Signature" v-model="verify_signature">
				  </div>
				  <a class="ui button" v-on:click="verify()">Verify</a>
				  <p>{{result_verify}}</p>
			</form>
		</div>

		<div class="ui bottom attached tab segment" data-tab="six">
			<button class="ui button gray right floated" v-on:click="getnewaddress()">Show Private Key & Mnemonics</button>
			<h3>Private Key</h3>
			<div v-if="address" class="ui message">
				<h5>Public Address</h5><p>{{address}}</p>
				<h5>Private Key</h5><p>{{privateKey}}</p>
			</div>
			<h3>Mnemonics</h3>
			<div v-if="address" class="ui message">
				<p>{{mnemonics}}</p>
			</div>
		</div>
	</div>

	<div class="ui container" v-show="walletExist && walletUnlocked">
		<div class="ui top attached tabular menu">
			<a class="item active" data-tab="cf_one">Community Fund</a>
			<a class="item" data-tab="cf_two">Community Proposals</a>
			<a class="item" data-tab="cf_three">My Proposals</a>
			<a class="item" data-tab="cf_four">Payment Requests</a>
			<a class="item" data-tab="cf_five">Create Proposal</a>
		</div>
		
		<div class="ui bottom attached tab segment active" data-tab="cf_one">
			<div class="content">
				<div class="container-fluid">
					<h3 class="card-title">Community Fund</h3>
					
					<h3 class="ui violet header">Why was the NavCoin Community Fund created?</h3>

					<p>NavCoin is a decentralised project, which relies on the efforts of individuals all over the world to secure, maintain and grow its network. The NavCoin Community Fund aims to help strengthen the network by encouraging and incentivising more people to get involved.</p>

					<h3 class="ui violet header">The world’s first decentralised dual-vote fund</h3>
					<p>The NavCoin Community Fund is different to other development funds for two key reasons:
					    It’s fully decentralised, meaning it’s not controlled or managed by any individual or single group.
					    Projects are approved for funding and payment using a unique two-stage voting process. This ensures that people only get paid if they deliver what they promised in their proposal.
					</p>
					<img class="ui huge bordered image rounded" src="img/cfund-3-step.jpg">
					<h3 class="ui violet header">Technical details</h3>
					<p>For a more technical explanation of the science behind the NavCoin Community Fund, check out this paper by NavCoin Core developer Alex Vazquez on GitHub: https://github.com/aguycalled/cfundpaper/blob/master/cfund.pdf</p>
					</p>

					<h3 class="ui violet header">Frequently Asked Questions</h3>
					<p class="ui header">How are funds generated?
					<p>
					Funds are generated by the network at the rate of 0.25 NAV per block. This amount was made available after a network consensus vote in early 2018 that decreased staking rewards from 5 to 4% pa. It equates to 250,000 NAV per year. Note: There is a NPIP to increase this amount - the rationale why can be seen in this thread on reddit.</p>
					</p>

					<p class="ui header">Where do I create a proposal?</p>
					<p>To start with, there will be a proposal form that generates a piece of code which you then paste into your wallet.<br/> In this form you will need to include the following details:<br/><br/>
					    The title of your project<br/>
					    Description (ideally a link to a full description)<br/>
					    The amount of funding you want<br/>
					    Your wallet address<br/>
					    How long it will take to complete - consider giving yourself longer than you expect<br/>
					</p>
					<p class="ui header">How do I vote?
					<p>To vote you must be actively staking NavCoin. Votes are cast from within your wallet - and each time you stake you will ‘cast a vote’ to the network. Then at the end of each voting period (roughly a week) the votes are tallied up.</p>
					</p>

					<p class="ui header">What types of projects can be submitted?
					<p>There is no restriction on the type of project you can submit. However it should be thought through properly and be something you think the NavCoin network might realistically support. It could be to develop an application that expands the NavCoin ecosystem, or something unrelated like a donation to charity. It’s entirely up to you.</p>
					</p>

					<p class="ui header">What does it cost to make a proposal?
					<p>The minimum submission fee is 100 NAV, however you can elect to pay a higher fee. The fees go into the Community Fund. The benefit of paying a higher fee is that it can help you proposal receive funding first. For example if two projects are accepted, the one paying the higher fee will get its funding before the other. Also worth noting that you can add your submission fee as an extra cost in your proposal if you wish, to receive the money back.</p>
					</p>

					<p class="ui header">How long will it take to go through voting/approval process?
					<p>It depends on how well your project is received once you’ve submitted it to the blockchain for voting. It could take as little as one block period (about seven days). For a project to be accepted at least 50% of NavCoin stakers must participate in the vote, and 75% of them must vote YES. If 67.5% vote NO the proposal is rejected. The maximum time a project has to reach the 50% quorum is six block periods.</p>
					</p>

					<p class="ui header">Can I split payment requests?
					<p>Yes you can. In fact, splitting up your work into sections with a planned series of payment requests would be an ideal option. For example, if you want to make a video you could make the first payment request for the script, the second for the storyboards, and the final for the finished video. This approach means your project could benefit from regular feedback, which can help you solve problems early on and make delivering the finished project easier.</p>
					</p>

					<p class="ui header">How much can I apply for?
					<p>The amount of funds you request should be a realistic estimate of the cost of completing your project successfully. However there is no limit on how much NAV a proposal can ask for. But if the proposal is accepted by the community and there are not enough NAV in the Community Fund at the time, then the proposal enters an ‘accepted but waiting for funds’ state. Then once there are enough NAV in the fund, the proposal will be given the go ahead and the NAV to pay for it will be locked away to be used for payment request for that proposal when it’s finished.</p>
					</p>

					<p class="ui header">Where should I post/talk about my project?
					<p>The NavCoin Community Collab Forum (launching soon) is a purpose built forum for submitting your proposal and discussing it with other NavCoin community members. You can ask for advice, and find people to add expertise to your team. You can also use the existing NavCoin channels on Discord, Reddit and Telegram.</p>
					</p>

					<p class="ui header">What can I do to help my proposal get votes?
					<p>You need to convince NavCoin stakers that your project deserves a share of the network’s funds. To do that you need to clearly and concisely express the value it brings to the Navcoin ecosystem, or to the world as a whole. You’re free to promote your proposal to NavCoin stakers however you want, but the Collab forum, Discord and Reddit are good places to start.</p>
					</p>
				</div>
			</div>
		</div>
		
		<div class="ui bottom attached tab segment" data-tab="cf_two">
			<h3>Community Proposals</h3>
			<div class="ui link cards">
			  <div class="card" v-for="proposal in proposals">
			    <div class="image">
			      <img src="/images/avatar2/large/matthew.png">
			    </div>
			    <div class="content">
			      <div class="header">{{formatNumber(proposal.requestedAmount.slice(0, -3))}} {{unit}}</div>
			      <div class="meta">
			        <a>{{proposal.status}}</a>
			      </div>
			      <div class="description" style="word-break: break-all; word-wrap: break-word;">
			        {{proposal.description}}
			      </div>
			    </div>
			    <div class="extra content">
			      <span class="right floated">
			        {{proposal.proposalDuration}}
			      </span>
			      <span>
			        <i class="ion-thumbsup"></i>
			        {{proposal.votesYes}}
			      </span>
			      <span>
			        <i class="ion-thumbsdown"></i>
			        {{proposal.votesNo}}
			      </span>
			    </div>
			  </div>
			</div>
		</div>
		
		<div class="ui bottom attached tab segment" data-tab="cf_three">
			<h3>My Proposals</h3>
			<div class="ui link cards">
			  <div class="card" v-for="proposal in proposals" v-if="proposal.paymentAddress==addressList">
			    <div class="image">
			      <img src="/images/avatar2/large/matthew.png">
			    </div>
			    <div class="content">
			      <div class="header">{{formatNumber(proposal.requestedAmount.slice(0, -3))}} {{unit}}</div>
			      <div class="meta">
			        <a>{{proposal.status}}</a>
			      </div>
			      <div class="description" style="word-break: break-all; word-wrap: break-word;">
			        {{proposal.description}}
			      </div>
			    </div>
			    <div class="extra content">
			      <span class="right floated">
			        {{proposal.proposalDuration}}
			      </span>
			      <span>
			        <i class="ion-thumbsup"></i>
			        {{proposal.votesYes}}
			      </span>
			      <span>
			        <i class="ion-thumbsdown"></i>
			        {{proposal.votesNo}}
			      </span>
			    </div>
			        <div class="ui bottom attached button violet" v-if="proposal.status=='accepted'" v-on:click="showModalCreatePaymentRequest(proposal.hash)">
      					<i class="add icon"></i>
      					Create Payment Request
    				</div>
			  </div>
			</div>
		</div>
		<div class="ui bottom attached tab segment" data-tab="cf_four">
			<h3>Payment Requests</h3>
			<div class="ui link cards">
				<div class="card" v-for="paymentRequest in paymentRequests['null']">
			    <div class="image">
			      <img src="/images/avatar2/large/matthew.png">
			    </div>
			    <div class="content">
			      <div class="header">{{formatNumber(paymentRequest.requestedAmount.slice(0, -3))}} {{unit}}</div>
			      <div class="meta">
			        <a>{{paymentRequest.status}}</a>
			      </div>
			      <div class="description" style="word-break: break-all; word-wrap: break-word;">
			        {{paymentRequest.description}}
			      </div>
			      <div class="description" style="word-break: break-all; word-wrap: break-word;">
			        {{paymentRequest.hash}}
			      </div>
			    </div>
			    <div class="extra content">
			      <span>
			        <i class="ion-thumbsup"></i>
			        {{paymentRequest.votesYes}}
			      </span>
			      <span>
			        <i class="ion-thumbsdown"></i>
			        {{paymentRequest.votesNo}}
			      </span>
			    </div>
			  	</div>
			</div>
		</div>

		<div class="ui bottom attached tab segment" data-tab="cf_five">
			<h3>Create Proposal</h3>
			<form class="ui form">
			  <div class="field">
				<label>Required Amount (NAV)</label>
				<input type="text" name="strdzeel_n" placeholder="Amount" v-model="strdzeel_n">
			  </div>
			  <div class="field">
				<label>Address</label>
				<input type="text" name="strdzeel_a" placeholder="Address" v-model="strdzeel_a">
			  </div>
  			  <div class="field">
				<label>Deadline</label>
				<input type="text" name="strdzeel_d" placeholder="Deadline" v-model="strdzeel_d">
			  </div>
   			  <div class="field">
				<label>Proposal Description</label>
				<input type="text" name="strdzeel_s" placeholder="Description" v-model="strdzeel_s">
			  </div>
			  <a class="ui button" v-on:click="createProposal()">Create Proposal</a>
			  <p>{{result_create_proposal}}</p>
			</form>
		</div>
	</div>
	
	<div class="ui container" v-show="!walletExist && step==0">
			<div class="top">
				<div>
					<i data-feather="feather" class="logo-icon"></i>
				</div>
				<div class="logo-text">&nbsp;Welcome to the NEXT Lite Wallet</div>
			</div>
			<div class="ui list" style="margin-top:50px;">
				<div class="item">
					<div class="content">
						<div class="circle">
							<i data-feather="layers" class="item-icon"></i>
						</div>
						<span class="item-desc">
							The NEXT Lite Wallet allows you to quickly interact with the NavCoin blockchain.
						</span>
					</div>
				</div>
				<div class="item">
					<div class="circle">
						<i data-feather="shield" class="item-icon"></i>
					</div>
					<span class="item-desc">
						All your private keys are stored locally and you have all the control.
					</span>
				</div>
				<div class="item">
					<div class="circle">
						<i data-feather="watch" class="item-icon"></i>
					</div>
					<span class="item-desc">
						There is no need to synchronize with the network. Open the wallet and you're ready to go.
					</span>
				</div>
			</div>
		<div style="margin-top:50px;">
			<button class="ui button blue large" v-on:click="nextStep()"><i data-feather="chevron-right" class="svg-icon-tiny"></i>Get Started</button>
		</div>
	</div>

	<div class="ui container" v-show="!walletExist && step==1">
			<div class="top">
				<div>
					<i data-feather="feather" class="logo-icon"></i>
				</div>
				<div class="logo-text">&nbsp;Welcome to the NEXT Lite Wallet</div>
			</div>
			<form class="ui form">
				<h4 class="ui dividing header">Create Wallet</h4>
				<label>Please provide a password for your wallet</label>				
				<br/><br/>
			  <div class="field">
			    <label>Password</label>
			    <input type="password" name="password" v-model="password" placeholder="" autofocus>
			  </div>
			  <div class="field">
			    <label>Password (Again)</label>
			    <input type="password" name="password_again" v-model="password_again" placeholder="">
			  </div>
			  <button type="button" class="ui button gray large" v-on:click="createWallet()"><i data-feather="database" class="svg-icon-tiny"></i>&nbsp;Create My Wallet</button>
			</form>
	</div>

	<div class="ui container" v-show="walletExist && !walletUnlocked">
		<div class="top">
			<div>
				<i data-feather="feather" class="logo-icon"></i>
			</div>
			<div class="logo-text">&nbsp;Welcome to the NEXT Lite Wallet</div>
		</div>
		<div class="ui form">
			<h4 class="ui dividing header">Unlock Wallet</h4>
			<label>Please enter your wallet password</label>				
			<br/><br/>
		  <div class="field">
		    <label>Password</label>
		    <input type="password" name="password" v-model="password" placeholder="" autofocus>
		  </div>
		  <button type="button" class="ui button gray large" v-on:click="unlockWallet()"><i data-feather="unlock" class="svg-icon-tiny"></i>&nbsp;Unlock Wallet</button>
		</div>
	</div>
</div>
<div id="modalPaymentRequest" class="ui modal">
	<i class="close icon"></i>
	<div class="header">Create Payment Request</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Request ID</label>
				<input type="text" name="paymentRequestID" id="paymentRequestID">
			</div>
			<div class="field">
				<label>Requested Amount</label>
				<input type="number" min="0" name="paymentRequestAmount" id="paymentRequestAmount">
			</div>
			<button type="button" class="ui button" onclick="app.submitPaymentRequest()">Create Payment Request</button>
		</form>
	</div>
</div>
<script>
$(document).ready(function(){
    $('.menu .item').tab({history:false});
	$('.accordion').accordion();
});
var app = new Vue({
  el: '#app',
  data: {
  	config:{headers: {'Content-Type': 'application/x-www-form-urlencoded'},responseType: 'text'},
  	step:0,
  	password:'123456',
  	password_again:'',
  	walletUnlocked:false,
    walletExist:false,
	balance: '0.00',
	height:'',
	unit: 'NAV',
	address: '',
	addressList:'',
	mnemonics:'',
	message:'',
	privateKey:'',
	signature:'',
	verify_message:'',
	verify_address:'',
	verify_signature:'',
	result_signature:'',
	result_verify:'',
	send_address:'',
	send_amount:'',
	result_send:'',
	strdzeel_v:2,
	strdzeel_n:'',
	strdzeel_a:'',
	strdzeel_d:'',
	strdzeel_s:'',
	result_create_proposal:'',
	paymentRequestProposalHash:'',
	utxo:[],
	proposals:[],
	paymentRequests:[]
  },
  created: function()
  {
	this.isWalletExist();
	this.refresh();
	this.strdzeel_n=1;
	this.strdzeel_d=5184180;
	this.strdzeel_s="NEXT Lite Wallet Test Proposal";
	this.strdzeel_ps="NEXT Lite Wallet Test Payment Request";
  },
  methods:{
    refresh: function ()
	{
		if (this.walletExist && this.walletUnlocked)
		{
			this.getBalance();
			this.getHeight();
			this.listAddr();
			this.listProposals();
			this.listPaymentRequests();
			this.getUTXO();
		}
	},
	showModalCreatePaymentRequest:function(paymentRequestProposalHash)
	{
		this.paymentRequestProposalHash=paymentRequestProposalHash;
		console.log(this.paymentRequestProposalHash);
		$('#modalPaymentRequest').modal('show');
	},
	submitPaymentRequest:function()
	{
		$('#modalPaymentRequest').modal('hide');
		var paymentRequestID=$("#paymentRequestID").val();
		var paymentRequestAmount=$("#paymentRequestAmount").val();
		console.log(paymentRequestID);
		console.log(paymentRequestAmount);
		let vm=this;
		axios.post('http://127.0.0.1:3001/createpaymentrequest', {h: this.paymentRequestProposalHash, i: paymentRequestID, n:paymentRequestAmount},this.config)
		.then(function (response)
		{
			console.log(response.data);
			if (response.data.substring(0,5) == "error")
			{
				swal({title:"Create Payment Request",type:"error",html:response.data});
			}
			else
			{
				swal({title:"Create Payment Request",type:"success",html:"Payment request created successfully"});
			}
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		}); 
	},
    formatBalance: n => {
		if (n) return sb.toBitcoin(n);
	},
    formatNumber: n => {
		if (!n) return "0";
		return n.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
	},
    numberWithCommas: n => {
      if (!n) {
        return "0.00"
      }
      n = (Math.round(n * 100) / 100).toFixed(2);
      var parts = n.toString().split(".");
      return (
        parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") +
        (parts[1] ? "." + parts[1] : "")
      );
    },
	isWalletExist: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/iswalletexist', {})
		.then(function (response)
		{
			vm.walletExist=response.data.exist;
			vm.refresh();
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
    unlockWallet: function ()
	{
		if (!this.password)
		{
			swal({title:"Unlock Wallet",type:"warning",html:"Please specify a password for unlock."});
		}
		else
		{
			let vm=this;
			axios.post('http://127.0.0.1:3001/unlockwallet', {password: vm.password},this.config)
			.then(function (response)
			{
				if (!response.data.isUnlocked)
				{
					swal({title:"Unlock Wallet",type:"error",html:"Your password is not verified."});
				}
				else
				{
					const Toast = Swal.mixin({
					  toast: true,
					  showConfirmButton: false,
					  timer: 3000
					});

					Toast.fire({
					  type: 'success',
					  title: 'Your wallet is unlocked'
					})
				}
				vm.walletUnlocked=response.data.isUnlocked;
				vm.refresh();
			})
			.catch(function (error)
			{
				console.log(error);
			})
			.then(function ()
			{
			});
		}
    },
	lockWallet:function()
	{
		this.password=null;
		this.walletUnlocked=false;
	},
    nextStep: function ()
	{	
		this.step++;
    },
    createWallet: function ()
	{
		if (!this.password)
		{
			swal({title:"Create Wallet",type:"warning",html:"Please specify a password"});
		}
		else if (this.password.length<6)
		{
			swal({title:"Create Wallet",type:"warning",html:"Password minimum length is 6"});
		}
		else if (this.password!=this.password_again)
		{
			swal({title:"Create Wallet",type:"warning",html:"Your passwords did not match"});
		}
		else
		{
			let vm=this;
			axios.post('http://127.0.0.1:3001/initwallet', {password: vm.password},this.config)
			.then(function (response)
			{
				//console.log(response.data);
				vm.walletExist=true;
				vm.walletUnlocked=true;
				vm.refresh();
			})
			.catch(function (error)
			{
				console.log(error);
			})
			.then(function ()
			{
			});  
		}

    },
    getBalance: function ()
	{	
		let vm=this;
		axios.post('http://127.0.0.1:3001/balance', {})
		.then(function (response)
		{
			//console.log(response.data);
			vm.balance=response.data;
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
    listProposals: function ()
	{	
		let vm=this;
		axios.post('http://127.0.0.1:3001/listproposals', {})
		.then(function (response)
		{
			//console.log(response.data);
			vm.proposals=response.data;
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
    listPaymentRequests: function ()
	{	
		let vm=this;
		axios.post('http://127.0.0.1:3001/listpaymentrequests', {})
		.then(function (response)
		{
			//console.log(response.data);
			vm.paymentRequests=response.data;
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
	getHeight: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/height', {})
		.then(function (response)
		{
			console.log(response.data);
			vm.height=response.data;
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
	getUTXO: function ()
	{	
		let vm=this;
		axios.post('http://127.0.0.1:3001/utxo', {})
		.then(function (response)
		{
			//console.log(response.data);
			vm.utxo=response.data;
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
	listAddr: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/listaddr', {})
		.then(function (response)
		{
			vm.addressList=response.data;
			vm.strdzeel_a=vm.addressList;
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
    getnewaddress: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/generate', {})
		.then(function (response)
		{
			console.log(response.data);
			vm.address=response.data.address;
			vm.privateKey=response.data.privateKey;
			vm.mnemonics=response.data.mnemonics;
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
	sign: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/sign', {message: this.message, privateKey:this.privateKey},this.config)
		.then(function (response)
		{
			//console.log(response.data);
			if (!response.data.error)
			{
				vm.result_signature=response.data.signature;
			}
			else
			{
				vm.result_signature=response.data.message;
			}
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
	verify: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/verify', {message: this.verify_message, address:this.verify_address, signature:this.verify_signature},this.config)
		.then(function (response)
		{
			//console.log(response.data);
			if (!response.data.error)
			{
				vm.result_verify=response.data.result;
			}
			else
			{
				vm.result_verify=response.data.message;
			}
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		});  
    },
	send: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/send', {to: this.send_address, amount:this.send_amount},this.config)
		.then(function (response)
		{
			console.log(response.data);
			if (!response.data.error)
			{
				vm.result_send=response.data.hex;
			}
			else
			{
				vm.result_send=response.data.message;
			}
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		}); 
	},
	createProposal: function ()
	{
		let vm=this;
		axios.post('http://127.0.0.1:3001/createproposal', {v:this.strdzeel_v,n: this.strdzeel_n,a:this.strdzeel_a,d:this.strdzeel_d,s:this.strdzeel_s},this.config)
		.then(function (response)
		{
			console.log(response.data);
			if (!response.data.error)
			{
				vm.result_create_proposal=response.data.hex;
			}
			else
			{
				vm.result_create_proposal=response.data.message;
			}
		})
		.catch(function (error)
		{
			console.log(error);
		})
		.then(function ()
		{
		}); 
	}
  }
})
</script>
<script>
	feather.replace();
</script>
</html>